body {
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
}
dialog {
  max-width: 80vw;
  border-radius: 12px;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 0 0 2px #616467;
  border: 1px solid transparent;
  padding-top: 0px;
}
textarea {
  resize: none;
  overflow: auto;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}
.ui-btn {
  user-select: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;
}
.img-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.img-btn img {
  padding-top: 4px;
  width: 16px;
  height: 16px;
}
.green {
  background-color: rgb(64, 150, 85);
}
.warning {
  color: red;
  font-size: 11px;
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
}
.loader {       
  font-size: 24px;
  display: none;
  height: auto;
  width: 250px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 125px);
  text-align: center;
  padding: 30px 0;
  background-color: #222222;
  color: lightgray;
}
.ta-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 16px;
  left: 10px;
  width: 450px;
  max-width: calc(100vw - 30px);
  resize: both;
  padding: 4px;
  border-radius: 4px;
  background-color: #242424;
}
.ta-buttons {
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
}
.ta-buttons > * {
  margin: 2px;
  user-select: none;
}
#ta {
  font-size: 12px;
  display: none;
}
.vButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.close {
  padding-top: 24px;
}
#guiContainer{
  position: absolute;
  bottom: 12px;
  left: 0;
}
#partsUl {
  overflow-y: auto;
  max-height: 80px;
  padding-left: 4px;
}
#partsUl li {
  list-style-type: none;
}