* {
    -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: black;
  animation: fadein 0.4s linear forwards;
}
h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 8px;
}
h4 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 8px;
}
textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
dialog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.9em;
  font-weight: 400;
  color: #dddddd;
  max-width: 80vw;
  min-width: 200px;
  min-height: 150px;
  border-radius: 6px;
  background-color: #222222;
  border: none;
  outline: 3px solid #555555;
  outline-offset: -5px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadein 0.2s linear forwards;
}
dialog:not([open]) {
  animation: fadeout 0.2s linear forwards;
  display: none;
}
dialog::backdrop {
  animation: fadein 0.2s linear forwards;
  background-color: rgba(0,0,0, 0.6);
}
dialog.fadeout::backdrop {
  animation: fadeout 0.2s linear forwards;
}
footer {
  padding-top: 14px;
}
footer form {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
  0% { opacity: 1; }
  100% {opacity: 0; }
}
.fadeout {
  animation: fadeout 0.2s linear forwards;
}
.dialog-body {
  flex: 1;
}
.hide {
  display: none;
}
.snap {
  color: rgb(180, 180, 180);
}
.editor {
  display: none;
  width: 100%;
}
.table-controls {
  padding-top: 4px;
  padding-left: 4px;
}
.ui-btn {
  font-size: 1em;
  user-select: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgb(80, 80, 80);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;
}
.img-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  user-select: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.img-btn:disabled {
  opacity: 0.2;
}
.img-btn.right {
  margin-left: auto;
}
.img-btn img {
  padding-top: 4px;
  user-select: none;
  width: 16px;
  height: 16px;
}
.green {
  background-color: rgb(64, 150, 85);
}
.blue {
  background-color: rgb(64, 85, 150);
}
.warning {
  color: red;
  font-size: 11px;
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
}
.loader {       
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gui-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8px;
  left: 8px;
  width: 480px;
  max-width: calc(100vw - 24px);
  resize: both;
  padding: 4px;
  border-radius: 4px;
  background-color: #242424;
}
.app-buttons {
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  margin: 2px;
}
.app-buttons > * {
  margin: 2px;
  user-select: none;
}
.vButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.close {
  padding-top: 24px;
}
.close-button {
  display: none; 
}
#ta {
  font-size: 12px;
  display: none;
}
#partsUl {
  overflow-y: auto;
  max-height: 80px;
  padding-left: 4px;
}
#partsUl li {
  list-style-type: none;
}
#guiContainer{
  padding-top: 12px;
}
#addDialog > section {
  padding-top: 12px;
  padding-bottom: 12px;
}  
#addDialog > section > div {
  padding-bottom: 6px;
}