:root {
  --slider-bg-color: rgb(140, 140, 140);
}
.slider {
  width: 100%;
}
.slider disabled {
  width: 100%;
  opacity: 0.8;
}
.ticks {
  user-select: none;
  float: left;
  margin-top: -32px;
  width: 100%;
  display: flex;
}
.tick {
  margin-top: 0;
  padding-top: 0;
  font-weight: 800;
  font-size: 16px;
  color: rgb(180, 180, 180);
  flex-grow: 1;
}
input[type="range"] {
/*   transform: rotate(270deg); */
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 2rem; 
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--slider-bg-color);;
  border-radius: 10px;
  height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 24px;
  background: green;
  width: 24px;
  height: 24px;
  margin-top: -8px;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  background: var(--slider-bg-color);
  opacity: 1;
}
input[type="range"]:disabled::-webkit-slider-runnable-track {
  opacity: 0.2;
}

input[type="range"]::-moz-range-track {
  background: var(--slider-bg-color);;
  border-radius: 10px;
  height: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: 0;
  border-radius: 24px;
  background: green;
  width: 24px;
  height: 24px;
  margin-top: -8px;
}
input[type="range"]:disabled::-moz-range-thumb {
  background: var(--slider-bg-color);
  opacity: 1;
}
input[type="range"]:disabled::-moz-range-track {
  opacity: 0.2;
}
